page-booking-confirmed {
	.confirmed-tab-body{
		.tab-container{
			background-image: url(../../assets/imgs/drive-lic-bg.jpg);
			background-size : 100% 100%;
			&.confirmed{
				text-align: center;
				padding: 20% 0px;
				img{
					max-width: 80%;
				}
			}
		}
		.tabs-container{
			position: relative;
			top: -20px;
			padding: 0px 20px 0px;
			.segment{
				max-width: 100%;
				margin: 0 auto;
				.segment-button{
					border: none;
					color: #959595;
					border-radius: 4px;
					max-width: 100%;
					margin: 0px 4px;
					background: #fff;
					box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
					&.segment-activated{
						color: #4fa3eb;
						border-bottom:4px solid #4fa3eb; 
					}
				}
			}
		}
		.confirmedform{
			text-align:center;
			margin: 20px 0px 0px;
			.confirmed-text{
				p{
					color:#959595;
					font-size:14px;
				}
				.car-info p {
    				margin: 5px 0;
    			}
    			&.confrimed-details{
    				.item{
    					&.item-block{
    						.item-inner{
    							.input-wrapper{
    								.label{
    									max-width: 80%;
									    margin: 0 auto;
									    text-align: center;
									    .car-info{
									    	text-align:left;
									    	.locationpin{
									    		color: #488aff!important;
									    	}
									    }
    								}
    							}
    						}
    					}
    				}
    			}
			}
		}
	}
}
