page-car-details {
        
    .header {
        background: #30b7ff !important;  
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        .toolbar-background {
            background: #30b7ff !important;
      }
      .toolbar-title{
        color: #fff;
        font-weight: normal;
    }
    .back-button{
        .button-inner{
            color: #000;
        }
        span.back-button-text {
            font-size: 0px;
         }
    }
      .result-suggested-buttons{
          .segment{
            max-width: 100%;
            margin: 0 auto;
              .segment-button{
                  border: none;
                  color: #fff;
                  border-radius: 0px;
                  span{
                      display: inline-block;
                  }
                  &.segment-activated{
                    background-color:transparent;
                    span{
                        border-bottom:4px solid #fff; 
                    }
                  }
              }
          }
      }
 }
	.car-route-slider{
		overflow-x: scroll!important;
        overflow-y: hidden;
        word-wrap: break-word;
        font-size:0.8em;
        font-weight:300;
    }
    .car-images-slider{
        .swiper-pagination{
			button{
			&.swiper-pagination-bullet{
				width: 14px;
				height: 14px;
				background: #fff;
				opacity: 1;
				&.swiper-pagination-bullet-active{
					width: 40px;
					border-radius: 10px 10px;
				}
			}
		}
	}
    }
    .car-details-div{
        padding: 20px 20px;
            .name-price{
                h3{
                    margin: 0px;
                    color: #202020;
                    &.car-name{
                        font-size: 36px;

                    }
                    &.car-price{
                        font-size: 26px;
                    }
            }
        }
        .car-details-desc{
           p{
            &.car-desc{
                color: #231f20;
                font-size: 16px;
                margin:15px 0px;
            }
           } 
           button{
               &.button{
                    width: 100%;
                    float: left;
                    text-align: center;
                    border-radius: 50px;
                    color: #ffffff;
                    font-size: 20px;
                    font-family: 'Montserrat';
                    font-weight: 500;
                    background: linear-gradient(#1c93f8, #1e8dce, #2288a4);
                    margin-bottom:20px; 
               }
           }
        }
    }
}
