<!--
  Generated template for the CarDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Available Vehicle</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="car-details-body">
	<div class="car-images-slider">
		<ion-slides pager>
		  <ion-slide *ngFor="let image of carsData.image">
		    <img  src="{{image}}"/>
		  </ion-slide>
		</ion-slides>
	</div>
	<div class="car-details-div">
		<div class="name-price">
			<h3 class="car-name">{{carsData.name}}</h3>
			<h3 class="car-price">{{carsData.price}}</h3>
		</div>
		<div class="car-details-desc">
			<p class="car-desc">
				{{carsData.desc}}
			</p>
		<button ion-button (click)="showSignIn()">Book a Test Drive</button>	
			<div class="car-routes">
				<ion-grid class="car-route-slider">
			        <ion-row nowrap class="route-div">
			        	<ion-col col-4 class="route-item" *ngFor="let route of carsData.routes">
			        		<img src="{{route}}"/>
			        	</ion-col>
			        </ion-row>
			    </ion-grid>
			</div>
			<div class="car-details-additional-features" *ngIf="carsData.additionalf">
				<h3 class="addtional-heading">ADDITIONAL FEATURES</h3>
				<ion-list no-lines>
				  <ion-item *ngFor="let adFeature of carsData.additionalf">
				  	<ion-icon name="square-outline" item-start></ion-icon>
				  	{{adFeature}}
				  </ion-item>
				</ion-list>
				<button ion-button (click)="showSignIn()">Book a Test Drive</button>	
			</div>
		</div>
	</div>
</ion-content>
