page-slide-walk {
	.slide-walk-body{
		background-image: url(../../assets/imgs/screen-bg.jpg);
			.swiper-slide{
			.slide-zoom{
					img{
						max-width: 280px;
					}
					p{
						color:#ffffff;
						font-size: 27.17px;
						font-family: 'Montserrat', sans-serif;
					}
			}
		}
		.swiper-pagination{
			button{
			&.swiper-pagination-bullet{
				width: 14px;
				height: 14px;
				background: #fff;
				opacity: 1;
				&.swiper-pagination-bullet-active{
					width: 40px;
					border-radius: 10px 10px;
				}
			}
		}
	}
	.disable-hover{
		color: #8a8e91;
		font-size: 27.17px;
		background-color: #fff;
		font-family: 'Nunito', sans-serif;
	}
	}
}
.user-interaction-sec{
	.current-location{
		h3{
			color: #000;
			font-size:21.17px !important;
			margin: 0px;
			font-family: 'Montserrat', sans-serif;
			strong{
				color: #064581;
			}
		}
	}
	.loc-input-div{

	}
}

.toolbar-background {
	background: #30b7ff !important;;
 }
