page-slide-walk {
	.slide-walk-body{
		background-image: url(../../assets/imgs/screen-bg.jpg);
		.slides{
			@media only screen and (max-width: 481px) {
				height:85%;
			}
		.swiper-container{
		overflow: initial;
		.swiper-wrapper{
			.swiper-slide{
			.slide-zoom{
					img{
						max-width:80%;
						@media only screen and (max-width: 481px) {
							max-width:70%;
						}
						@media only screen and (max-width: 320px) {
							max-width:55%;
						}
					}
					p{
						color:#ffffff;
						font-size: 20px;
						margin: 10px 0px;
						font-family: 'Montserrat', sans-serif;
					}
			}
		}
	}
}
}
		.swiper-pagination{
			button{
			&.swiper-pagination-bullet{
				width: 14px;
				height: 14px;
				background: #fff;
				opacity: 1;
				&.swiper-pagination-bullet-active{
					width: 40px;
					border-radius: 10px 10px;
				}
			}
		}
	}
	.disable-hover{
		color: #8a8e91;
		padding: 30px 0px;
		font-size: 20px;
		background-color: #fff;
		font-family: 'Nunito', sans-serif;
	}
	}
}


