page-verify-account {
	.Verify-otp-main {
	    width: 100%;
	    float: left;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    vertical-align: middle;
	    height: 100%;
	}
	.loc-list-head{
		color: #ff8f08;
	    font-weight: bold;
	    margin-bottom: 20px;
	    font-size: 16px;
	        padding: 0px;
	}
	.loc-list-item{
		.msg-div {
			    text-align: center;
			    color: #4fa3eb;
		}
			.item{
				padding: 0px;
				&.item-block {
					.item-inner {
		    		border: 0.55px solid #c8c7cc;
				    background: #eff4f8;
				    padding: 0px 10px;
				    border-radius: 5px;
				        margin: 10px 0px;
				}
			} 
			&.has-danger{
			&.item-block {
				.item-inner{
				border: 0.55px solid red;
				}
			}
		}	
		}
		.item-inner{
			.input-wrapper{
				ion-label h4 {
				    margin-top: 1px;
				}
				ion-label p {
				    font-size: 12px;
				}
			}
		}
	}
}
