page-booking-calendar {
    .header{
        background: #30b7ff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        .toolbar-background {
            background: #30b7ff !important;
         }
         .toolbar-title{
             color: #fff;
             font-weight: normal;
            text-align: center;
         }
         .back-button{
             .button-inner{
                 color: #000;
                 span.back-button-text {
                    font-size: 0px;
                    background: #30b7ff !important;;
                 }
             }
         }
    }
    ion-calendar{
        padding: 0px;
        margin: 0px;
        .toolbar-background{
            background: #d4d4d4;
             
        }
        ul{
            &.week-title{
                padding:10px 0px !important;
                li{
                    color: #4d547c;
                    font-size: 20px;
                }
            }
        }
    }
    .component-mode{
        .days-box{
            .days{
                button{
                    &.days-btn{
                        p{
                            font-size:18px;
                        }    
                        &.today{
                            p{
                                border: 2px solid #6f74ae;
                                padding: 7px 0px;
                                border-radius: 50%;
                                color: #262e61;
                            }
                        }
                        &.on-selected{
                            background-color: #52adcd;
                            border: 2px solid #6f74ae;
                        }
                    }
               }
            }
        }
    }
    .selected-date{
        background: #d4d4d4;
        padding: 8px 10px;
        margin: 0px -16px;
        p{
            margin: 0px;
            color: #4d547c;
            font-size: 20px;
            span{
                font-weight: bold;
            }
        }
    }
.item-wrapper{
    .item{
        &.item-block{
            padding: 0px;
            ion-avatar{
                img{
                    width: 60px;
                    height: 60px;    
                }
            }
            .item-inner{
                .input-wrapper{
                    .label{
                        p{
                            color: #53586c;
                            font-size: 15px;
                            span{
                            font-size: 22px;
                            color: #6d76a9;
                        }
                        .icon {
                            color: #a8d1da;
                        }
                    }
                    }
                }
            }
        }
    }
}
.time-list{
    button{
        &.disable-hover{
            background-image: linear-gradient(#4aa398, #4ca7c2, #4da9d4);

        }
    }
}
}
