<!--
  Generated template for the BookingCalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div *ngIf="pleaseWait" class="pleasewait-overlay">
	<div class="loading-logo"><img src="assets/imgs/simple-logo.png"></div>
</div>

<ion-header>

  <ion-navbar>
    <ion-title>Book Test Drive</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-calendar [(ngModel)]="date"
              (onChange)="onDaySelect($event)"
	              [type]="type"
	              [format]="'YYYY-MM-DD'">
	</ion-calendar>
	<div class="selected-date">
		<p>Test Drive times for <span>{{selectedDate | date : 'mediumDate'}}</span></p>
	</div>
	<div class="time-list">
		<ion-list>
			<ion-item-sliding *ngFor="let time of timeList; let i = index;"  [attr.id]="'itemslide'+i">
			    <ion-item [attr.id]="'item'+i">
			      <ion-avatar item-start>
					<img *ngIf="!time.status" src="assets/imgs/booked.png">
			        <img *ngIf="time.status" src="{{servercall.ImagebaseUrl+carData.Image}}">							
			      </ion-avatar>
			      <p>
			      	<span *ngIf="time.status">Test Drive Time Available</span>
			        <span *ngIf="!time.status">Test Drive Time Already Booked</span>
			        <br>
			        <ion-icon name="alarm"></ion-icon> {{time.show}}
			  	  </p>

			  	  <ion-icon *ngIf="time.status && alreadybooked" name="arrow-dropright" item-end (click)="open('itemslide'+i,'item'+i)"></ion-icon>

			  	  <ion-icon *ngIf="time.status && !alreadybooked" name="arrow-dropright" item-end (click)="open('itemslide'+i,'item'+i)"></ion-icon>

			  	  <ion-icon *ngIf="!time.status && time.user == currentUser_id" name="arrow-dropright" item-end (click)="open('itemslide'+i,'item'+i)"></ion-icon>
			  	  
			  	  <ion-icon *ngIf="!time.status && time.user == !currentUser_id" name="checkmark-circle" item-end></ion-icon>
			    
			    </ion-item>
			    <ion-item-options side="right" *ngIf="!time.status && time.user == currentUser_id">
			      <button ion-button>Booked for you</button>
			    </ion-item-options>
			    <ion-item-options side="right" *ngIf="time.status && !alreadybooked">
			      <button ion-button (click)="presentConfirm(i)">Book</button>
			    </ion-item-options>
			</ion-item-sliding>
	    </ion-list>
	</div>
</ion-content>
