page-pick-testdrive-location {
	.pick-test-drive-body{

	}
	.pick-test-drive-body .map{
		height: 250px;
		background-color:grey;
	}
	.pick-test-drive-body .user-interaction-sec{
		padding: 20px;
	}

	.user-interaction-sec .loc-input-div .item{
		border: 1px solid;
    	border-radius: 5px;
    	font-size: 12px;
	}
	.back-button{
		.button-inner{
			color: #000;
		}
	}
	.toolbar-background {
		background: #30b7ff !important;
	 }
	 span.back-button-text {
		font-size: 0px;
	 }
	 .toolbar-title{
		 color: #fff;
		 font-size: 16px;
		 font-family: 'Montserrat', sans-serif;
	 }
	 .user-interaction-sec{
		.current-location{
			h3{
				color: #000;
				font-size:16px !important;
				margin: 0px;
				text-align: center;
				font-family: 'Montserrat', sans-serif;
				strong{
					color: #064581;
				}
			}
		}
		.loc-input-div{
			p{
				color: #000;
				font-size: 12px;
				font-weight: 500;
				margin: 10px 0px;
				font-family: 'Montserrat', sans-serif;
				&:last-child{
					color: #5c5c5c;
					font-size: 12px;
					font-style: italic;
					margin: 0px;
					font-family: 'Montserrat', sans-serif;
				}
			}
		}
		.item-input{
			margin: 10px 0px;
			.item-inner{
				border: none;
				.input-wrapper{
					.text-input{
						font-size: 12px;
					}
				}
			}
		}
		.item-button{
			 .button-inner {
				color: #686969;
			}
		}
	}
	.loc-current-service-div{
		h3{
			text-align: center;
			color: #000;
			font-size: 18px;
			font-family: 'Montserrat', sans-serif;
		}
		.grid{
			.row{
				margin: 0px -8px;
			.enabled{
				.item{
					padding: 25px 0px !important;
					background: #e7f7ff;
				}
			}
			.disabled{
				height: 100%;
				.item{
					background: #f6f6f6;
					.item-inner{
						.input-wrapper{
							.label{
								h3{
									color: #b0b0b0;
								}
								h2{
									color: #b0b0b0;
								}
								p{
									color: #b0b0b0;
								}
							}
						}
					}
				}
			}
			.item{
				padding: 25px 0px !important;
				height: 100%;
				.item-inner{
					padding: 0px;
					text-align: center;
					border: none;
					border: none;
					.input-wrapper{
						.label{
							margin: 0px;
							h3{
								color: #ffad40;
								font-family: 'Montserrat', sans-serif;
								font-size: 20px;
								font-weight: 500;
								margin-bottom: 0px;
							}
							h2{
								color: #ff8f08;
								font-weight: bold;
								margin-bottom: 0px;
							}
							p{
								color: #000;
								font-size: 10px;
								font-weight: 500;
								margin:15px 0px 0px;
								font-family: 'Montserrat', sans-serif;
							}
						}
					}
				}
			}
		}
		}
	}
	.next-button{
		button{
			background: #30b7ff !important;
			font-size: 1.8rem;
			color: #fff;
		}
	}
}