<!--
  Generated template for the ForgetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div *ngIf="pleaseWait" class="pleasewait-overlay">
	<div class="loading-logo"><img src="assets/imgs/simple-logo.png"></div>
</div>

<!-- <ion-header>

  <ion-navbar>
    <ion-title>forget-password</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
	<div class="forget-password-main">
	<div class="forget-password" [ngSwitch]="steptype">
	  <ion-list-header class="loc-list-head">
	    Forget Password
	    <ion-icon name="close-circle" (click)="dismiss()" item-end></ion-icon>
	  </ion-list-header>
	  <div class="loc-list-item" margin-bottom *ngIf="steptype=='email'">
	  		 <div class="msg-div email-msg"><span>Enter your email, to reset password.</span></div>
	  		 <div class="error-div email-error" [innerHTML]="emailerror"></div>
	         <ion-item [ngClass]="{'has-danger': emailerror !== ''}">
	         	<ion-input type="text" [(ngModel)]="useremail"placeholder="Email"></ion-input>
	         </ion-item>
	         <button ion-button full round (click)="checkEmail()">Submit</button>
	  </div>
	  <div class="loc-list-item" margin-bottom *ngIf="steptype=='otp'">
	  		 <div class="msg-div Otp-msg"><span>OTP has been sent to your Email.</span></div>
	  		 <div class="error-div Otp-error" [innerHTML]="otperror"></div>
	         <ion-item [ngClass]="{'has-danger': otperror !== ''}">
	         	<ion-input type="text" [(ngModel)]="userOTP"placeholder="Verify OTP"></ion-input>
	         </ion-item>
	         <button ion-button full round (click)="verifyOtp()">Verify</button>
	  </div>
	  <div class="loc-list-item" margin-bottom *ngIf="steptype=='password'">
	  		 <div class="msg-div password-msg"><span>Choose New Password</span></div>
	  		 <div class="error-div password-error" [innerHTML]="passworderror"></div>
	  		 <ion-item [ngClass]="{'has-danger': passworderror !== ''}">
	         	<ion-input type="password" [(ngModel)]="userPassword"placeholder="Password"></ion-input>
	         </ion-item>
	         <ion-item [ngClass]="{'has-danger': passworderror !== ''}">
	         	<ion-input type="password" [(ngModel)]="userConfirmPassword"placeholder="Confirm Password"></ion-input>
	         </ion-item>
	         <button ion-button full round (click)="changePassword()">Change</button>
	  </div>
	</div>
</div>
</ion-content>
